<template>
    <div id="app">
        <app-header></app-header>
        <div class="container">
            <div class="py-5">
                <router-view></router-view>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import Header from './Header.vue';
    import Footer from './Footer.vue';
    export default {
        name: "app",
        components:
            {
                appHeader: Header,
                appFooter: Footer,
            },
        created: function() {
            document.title = 'José Luis Macedo'
            document.head.querySelector('meta[name=description]').content = 'New Description'
            document.head.querySelector('meta[name=keywords]').content = 'key one, key two'
        }
    }
</script>

<style scoped>
</style>