<template>
    <div class="col-md-12">
        <h3>Contact Page</h3>
        <hr>
        <p>This is a page of contact!</p>
    </div>
</template>

<script>
    export default {
        name: "contact",
    }
</script>

<style scoped>
</style>