<template>
    <div class="footer">
        <p class="copy text-center">&copy Desenvolvido por José Luis Macedo</p>
    </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>