<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <router-link to="/" tag="li" role="presentation" class="navbar-brand cursor-pointer">Laravel</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link to="/" tag="li" role="presentation" class="nav-link cursor-pointer">Home</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/contact" tag="li" role="presentation" class="nav-link cursor-pointer">Contato</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>