<template>
    <section v-if="errored">
        <p>Pedimos desculpas, não estamos conseguindo recuperar as informações no momento. Por favor, tente novamente mais tarde.</p>
    </section>

    <section v-else>
        <div class="col-md-12">
            <h3>Home Page</h3>
            <hr>
            <ul v-if="errors && errors.length">
                <li v-for="error of errors">
                    {{error.message}}
                </li>
            </ul>
            <div v-if="loading">Carregando...</div>
            <ul v-if="posts && posts.length">
                <li v-for="post of posts">
                    <p><strong>{{post.title}}</strong></p>
                    <p>{{post.body}}</p>
                </li>
            </ul>
            <hr>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';

    export default {
        data () {
            return {
                loading: true,
                errored: false,
                posts: [],
                errors: [],
            }
        },
        mounted () {
            axios
                .post('/front/home')
                .then(response => {
                    console.log(response);
                    if(!response.data.error)
                        this.posts = response.data.result;
                    else
                        this.errors.push(response.data.msg);
                })
                .catch(error => {
                    console.log(error)
                    this.errored = true
                })
                .finally(() => this.loading = false)
        }
    }
</script>

<style scoped>
</style>